@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Pacifico&family=Raleway&display=swap');
body{
    margin: 0;
}




header{
    height: 100vh;
    background:url(Images/backgroundheader.png) center/cover no-repeat
}


.links{
    width: 75%;
    margin: auto;
    padding-top: 60px;
    text-align: center;
}


.links >a{
    text-decoration: none;
    text-transform: uppercase;
    color: #d2d7d9;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    font-style: bold;
}


.a-2{
    margin-left: 280px;
}

.a-link{
    margin-left: 25px;
}


.box{
    width: 50%;
    margin: auto;
    padding: 115px 0;
    background-color: rgba(255, 255, 255,0.7);
    margin-top: 220px;
    text-align: center;
}

.box >p{
    margin: 0;
}

.box > :nth-child(1){
    color: #2c3a42;
    font-family: 'Cookie', cursive;
    font-size: 5em;
}

.box > :nth-child(2){
    font-family: 'Raleway', sans-serif;
    font-size: 5em;
    text-transform: uppercase;
    color: #ad6c12;
    font-weight: bolder;
}

.box > :nth-child(3){

    text-decoration: none;
    display: inline-block;
    padding: 15px;
    background-color: white;
    text-transform: uppercase;
    color: #2c3a42;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    margin-top: 30px;
}



main{
    padding: 70px 0;
    background-color: #2a3b40;
    text-align: center;
    height: 50vh;
}
main > div{
    width: 80%;
    margin: auto;
    position: relative;
}
.item{
    width: 50%;
    padding: 20px;
}
.i-1{
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px !important;
}
.i-1 > h1{  
    font-size: 2em;
}
.i-1 > p{  
    font-size: 1em;
    width: 70%;
}
.i-1 > p,h1{
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: left;
}
.i-2{
    position: absolute;
    top: 0;
    right: 0;
}





.s-1{
    padding: 100px 0;
    background-color: #d4d8d9;
}


.container{
    width: 70%;
    margin: auto;
    text-align: center;

}


.container >.item{
    width: 28%;
    display: inline-block;
    margin: 10px;
    text-align: left;
}


.circles >span{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #2a3b40;
}

.container >.item >h1{
    color: #2a3b40;
}

.container >.item >p{
    font-family: 'Raleway', sans-serif;
}


.s-2{
    padding: 90px 160px;
    box-sizing: border-box;
    background: url(Images/sectionimg.png) center/cover no-repeat;
}

.s-2 > div{
    background: rgba(255, 255, 255, 0.7);
    padding: 35px;

}


.s-2 > div > :nth-child(1){
    color: #304751;
    font-family: 'Cookie', cursive;
    font-size: 4em;
    text-align: center;
}

.s-2 > div > :nth-child(2){
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 5em;
    text-transform: uppercase;
    color: #ad6c12;
    font-weight: bolder;
    text-align: center;
    margin-top: -50px;
    padding-bottom: 30px;
}



.squares{
    display: flex;
    flex-wrap: wrap;
    padding:0;
}
.square{
    width: 25%;
    margin: 0;
    padding:0;
}
.square > img{
    width: 100%;
}